html {
  line-height: 1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html:lang(ja) {
  font-family: Roboto, Noto Sans JP, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.home-enter-active,
.home-leave-active {
  transition: opacity 0.5s;
}

.home-enter,
.home-leave-active {
  opacity: 0;
}

.member-enter-active,
.member-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.member-enter {
  opacity: 0;
  transform: translateY(24px);
}
